body {
  font-family: serif;
}

.vinderen-BG {
  background-color: rgb(65, 65, 69);
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.logo {
  transform: translateX(10px);
  background-color: transparent;
}

.nav-container {
  justify-content: center;
  align-items: center;
}

nav {
  color: white;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline; 
}

.nav-container nav ul li:nth-child(1),
.nav-container nav ul li:nth-child(2) {
  margin-left: 20px;
}

nav ul li a {
  font-size: large;
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: rgb(250,233,6);
}

.border {
  border: solid;
}
